.chat-container{
  display: flex;
  height: 100%;
  width: 100%;
}
.chat-container__user{
  flex: 0.8;
  background-color: #26A094;
  text-align: center;
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
}
.chat-container__user-avatar{
  margin-top: 20px;
  margin-bottom: 10px;
}
.chat-container__user-name{
  font-size: 15px;
  user-select: none;
}
.chat-container__user-icon{
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.chat-container__chat-list{
  flex: 3;
  background-color: #4AA89B;
  overflow-y: scroll;
}
.course-item{
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.course-item__avatar{
  margin-left: 10px;
  background-color: #0FC4A7;
  user-select: none;
}
.course-item__name{
  color: white;
  margin-left: 10px;
}

.chat-container__content{
  flex: 7;
  background-color: #9BDAD4;
  display: flex;
  flex-direction: column;
}
.content__header{
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 7vh;
}
.content__chat{
  flex: 6;
  overflow: scroll;
  overflow-x: hidden;
  height: 68vh;
}
.content__input{
  flex: 1;
  display: flex;
  align-items: center;
  height: 5vh;
}
.content__input__edit{
  width: 70%;
  margin-right: 20px;
}
.self--2uoUC .right--39-4H {
  margin-left: 0px;
  margin-right: 12px;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content__input__emoji{
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
}
.chat-container__content .ant-divider.ant-divider-horizontal{
  margin: 0px !important;
}
.message--2l0Oz {
  display: -ms-flexbox;
  display: flex;
  margin-right: 54px;
  margin-bottom: 10px;
  position: relative;
  margin-left: 10px;
}
.self--2uoUC {
  flex-direction: row-reverse;
  margin-right: 0px;
  margin-left: 54px;
}
.right--39-4H {
  margin-left: 12px;
}
.self--2uoUC .content--2PkJk {
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
}
.self--2uoUC .arrow--1BPRE {
  border-width: 0 0 15px 7px;
  border-color: #00000000;
  left: initial;
  right: 49px;
  top: 23px;
}
.self--2uoUC .contentButtonBlock--3wqjA {
  flex-direction: row-reverse;
}
.nicknameTimeBlock--2H_Hk {
  height: 20px;
  display: flex;
  align-items: flex-end;
}
.nickname--3Gfts {
  color: #333;
  font-size: 13px;
  user-select: text;
  margin-right: 4px;
}

.time--3uGVq {
  color: #666;
  font-size: 12px;
}
.contentButtonBlock--3wqjA {
  display: flex;
}
.content--2PkJk {
  display: inline-block;
  color: #555;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 8px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  min-height: 28px;
  margin-top: 3px;
}
.textMessage--371Pk {
  user-select: text;
  word-break: break-word;
}
.arrow--1BPRE {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 7px 15px 0;
  border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
  position: absolute;
  top: 23px;
  left: 49px;
}
