.course-container{
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  position: relative;
}
.course{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  overflow: hidden;
}
.input-item{
  margin-bottom: 20px;
}
.input-item.color{
  display: flex;
}
.input-item.time{
  display: flex;
}
.input-item__time{
  margin-left: 10px;
}
.input-item__time__item{
  width: 60px;
}
.input-item__time__add{
  margin-left: 10px;
  cursor: pointer;
}
.colorBlock{
  width: 32px;
  height: 32px;
  margin-left: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.options{
  position: absolute;
  right: 100%;
  top: 0px;
  font-size: 20px;
  background-color: #81a9e0;
  border-radius: 3px;
  padding: 5px;
}

.input-item__title{
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  padding: 4px 12px 4px 12px;
}
.input-item__title.time{
  height: 35px;
}

.colorPickerModal{
  height: fit-content !important;
  width: fit-content !important;
}
.colorPickerModal .ant-modal-body{
  padding: 0px;
  text-align: center;
}
.colorPickerModal .ant-modal-body .chrome-picker {
  box-shadow: none !important;
}
.colorSubmit{
  margin: 10px;
}